<header class="header">
    <div class="container-fluid px-5">
        <div class="row d-flex">
            <div class="col-xl-3 col-lg-4 col-md-12">
                <div class="logo">
                    <div class="row">
                        <a class="col-auto">
                            <img src="assets/img/logo.png" />
                        </a>
                        <div class="col-auto text-white mt-auto">
                            <h2>Private Market</h2>
                            <h6>By TakeMyTokens</h6>
                        </div>
                    </div>
                </div>
                <div class="menu-button d-block d-xl-none d-lg-block d-md-block d-sm-block">
                    <i class="icofont-navigation-menu"></i>
                </div>
            </div>
            <div class="col-xl-7 d-flex align-items-center col-lg-8 col-md-12" *ngIf="false">
                <div class="main-menu">
                    <ul>
                        <li><a href="index-2.html">Home</a></li>
                        <li><a href="about.html">about</a></li>
                        <li><a href="service.html">Services</a></li>
                        <li><a href="#">blog <span><i class="fas fa-angle-down"></i></span></a>
                            <ul class="max-height-submenu">
                                <li><a href="blog.html">blog</a></li>
                                <li><a href="blog-feeds.html">blog feed</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Pages <span><i class="fas fa-angle-down"></i></span></a>
                            <ul>
                                <li><a href="term-condition.html">term condition</a></li>
                                <li><a href="processing.html">processing</a></li>
                                <li><a href="confirmation.html">confirmation</a></li>
                                <li><a href="affiliate-program.html">Affiliate Program</a></li>
                                <li><a href="contact.html">contact</a></li>
                                <li><a href="register.html">register</a></li>
                                <li><a href="login.html">login</a></li>
                                <li><a href="profile.html">profile</a></li>
                                <li><a href="currency.html">currency</a></li>
                            </ul>
                        </li>
                        <li><a href="#" data-toggle="modal" data-target="#exampleModal"><i
                                    class="icofont-search-2"></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-xl-2 col-lg-2 d-flex align-items-center" *ngIf="false">
                <div class="sign-in">
                    <a href="#">sign in</a>
                </div>
            </div>

        </div>
    </div>
</header>