<div class="payout-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-8">
                <div class="area-title">
                    <h2 class="plus-margin">Complete list of offers</h2>
                    <div>
                        <h4>Below is the complete list of all the offers available in the <small class="text-muted">market</small>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">

                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" *ngIf="advertisements && advertisements.length > 0">
                        <a class="nav-link disabled" id="home-tab" data-toggle="tab" href="#home" role="tab"
                            aria-controls="home" aria-selected="true">All
                            Items<br /><span>{{advertisements.length}}</span></a>
                    </li>
                    <li *ngIf="false" class="nav-item">
                        <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                            aria-controls="profile" aria-selected="false">Deposit<br /><span>&nbsp;</span></a>
                    </li>
                    <li *ngIf="false" class="nav-item">
                        <a class="nav-link disabled" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
                            aria-controls="contact" aria-selected="false">Payout<br /><span>&nbsp;</span></a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="chart" *ngIf="advertisements && advertisements.length > 0">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col" *ngFor="let t of tableTitles" [hidden]="t.hidden" class="text-center" >
                                            {{t.title}}
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let i of advertisements">
                                        <td *ngFor="let t of tableTitles" [hidden]="t.hidden" [align]="t.align" [class]="t.class" >
                                            <a *ngIf="['string','number'].includes(t.type)">{{i[t.key]}}</a>
                                            <a *ngIf="['Date'].includes(t.type)">{{i[t.key] | date : 'dd/MM/yyyy HH:mm:ss'}}</a>
                                            <a *ngIf="['OfferedItem[]'].includes(t.type)">
                                                <a *ngFor="let a of i[t.key]; let ai = index">
                                                    <br *ngIf="ai > 0" />
                                                    {{a.amount.toLocaleString('it-IT', {minimumFractionDigits:'2'})}}
                                                    <a *ngIf="a.description=='EUR'; else CHCSCondition">€</a>
                                                    <ng-template #CHCSCondition>
                                                        <a *ngIf="a.description=='CHCS'; else OtherCondition">§</a>
                                                    </ng-template>
                                                    <ng-template #OtherCondition>
                                                        <a *ngIf="a.description !='CHCS'">{{a.description}}</a>
                                                    </ng-template>
                                                </a>
                                            </a>
                                            <a *ngIf="['boolean'].includes(t.type)">
                                                <fa *ngIf="i[t.key]" name="check" class="text-success" size="lg"></fa>
                                                <fa *ngIf="!i[t.key]" name="times" class="text-danger" size="lg"></fa>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="chart">

                        </div>
                    </div>

                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                        <div class="chart">

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>